<h1>Edit an existing Figure</h1>

<form action="/figures/<%=@figure.id%>" method="POST">
  <h2>Original name: <%=@figure.name%></h2>
  <label>Name:</label>
  <input type="text" name="figure[name]" id="figure_name"/>

  <br></br>
  <%Title.all.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>"<%='checked' if @figure.titles.include?(title) %>><%=title.name%></input>
  <%end%>
  <label>and/or, create a new title:</label>
  <label>Title:</label>
  <input  type="text" name="title[name]" id="new_title"></input>
  <br></br>

  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>"  id="landmark_<%=landmark.id%>" <%='checked' if @figure.landmarks.include?(landmark) %>><%=landmark.name%></input>
  <%end%>

  <label>and/or, create a new landmark:</label>
  <label>Landmark name:</label>
  <input  type="text" name="landmark[name]" id="new_landmark"></input>

  <br></br>
  <input type="submit" value="Edit Figure">
</form>
